
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>this is the login page to make different between user and @ViewBag.UserType </h2>
<h5>also we can check the @ViewBag.UserType has @ViewBag.Access access! </h5>
<h2>something to check</h2>