@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title.</h1>
<h3>@ViewBag.Message</h3>

<p>About page is changed so easliy and this process is awsome as hell like taht as we learn and grove each day and always  </p>
